.barra {
    background-color: black;
    height: 60px;
    display: flex;
    align-content:space-between;
    padding: 10px;
    Box-shadow:  4px 6px 12px 6px gold;
}

.menu {
    margin-top: 20px;
    display: flex;
    align-content: space-between;
    margin-left: 150px;
    background-color: rgb(11, 12, 1);
    border-radius: 8px;
    outline: 1px solid black;
    height: 40px;
}

.items {
    color: gold;
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    padding: 3px;

}

.logo {
    padding-top: 10px;
    width: 50px;
    height: 50px;
}

.carrito {
    width: 30px;
    heigth: 30px;
}

.titulo {
    color: goldenrod;
    font-style: italic;
}

.searchbar {
    margin-top: 20px;
    margin-left: 50px;
}